@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

:root {
    --main-bg-color: white;
    --primary-text-color: black;
    --accent-color: red;
}


Body {
    font-family: "inter", sans-serif;
    background: var(--main-bg-color);
    color: var(--primary-text-color);
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    margin-bottom: 100px;
}

header h1 {
    margin: 0;
    font-weight: normal;
}

main {
    background: url(polaroid.png) no-repeat center 100px;
    margin: 0 auto;
    width: 1000px;
}

.heros {
    text-align: center;
    min-height: 800px;
}

.heros h2 {
    font-size: 9em;
    line-height: 1em;
    text-transform: uppercase;
    margin: 0;
}

.details ul li {
    list-style-type: none;
    margin: 10px 0;
    padding: 0 0 0 80px; /* Adjust padding to create space for the icon */
    position: relative; /* Add relative positioning */
}

.details ul li.qr,
.details ul li.cloud,
.details ul li.shoot,
.details ul li.share {
    background-repeat: no-repeat;
    background-position: 20px center; /* Adjust the positioning to align the icon properly */
}

.details ul li.qr {
    background-image: url(wifi-solid\ 1.png);
}

.details ul li.cloud {
    background-image: url(cloud-arrow-up-solid\ 1.png);
}

.details ul li.shoot {
    background-image: url(Frame\ 3.png);
}

.details ul li.share {
    background-image: url(photo-film-solid\ 1.png);
}
